section {
  padding-bottom: 12px;
}

.inline-block {
  color: var(--B1);
  background-color: var(--A3);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 160px;
  padding: 4px;
}

.font-family {
  font-family: "Courier New", Courier, monospace;
}

.font-size {
  font-size: 24px;
}

.font-weight {
  font-weight: 100;
}

.font-style {
  font-style: italic;
}

.line-height {
  line-height: 4;
}

.font-style {
  font-style: italic;
}

.font-style {
  font-style: italic;
}

.text-align {
  text-align: right;
}

.letter-spacing {
  letter-spacing: 12px;
}

.word-spacing {
  word-spacing: 12%;
}

.inline {
  color: var(--B1);
  background-color: var(--A3);
  display: inline;
  text-align: center;
  border-radius: 5px;
  width: 160px;
  padding: 4px;
}

.container img {
  max-width: 100%;
  padding-bottom: 0;
}

.display-grid {
  display: grid;
  grid-template-columns: 100px 2fr 1fr 1fr;
  gap: 20px;
}

.display-grid-gradeados {
  display: grid;
  grid-template-areas:
    "a a a b b"
    "a a a b b"
    "c c d b b"
    "c c e e e"
    "c c e e e";
  gap: 20px;
}

.display-grid-gradeados p {
  padding-top: 12px;
  text-align: center;
  font-size: 18px;
}

.item-a {
  grid-area: a;
}
.item-b {
  grid-area: b;
}
.item-c {
  grid-area: c;
}
.item-d {
  grid-area: d;
}
.item-e {
  grid-area: e;
}

.bloco {
  background-color: var(--A3);
  border-radius: 4px;
}

.seletor-filho-direto > p {
  color: var(--B1);
}

.seletor-ao-lado p + p {
  color: var(--B1);
}

.seletor-nthchild p:nth-child(1) {
  color: var(--B1);
}

.seletor-nthchilds p:last-child {
  color: var(--B1);
}

.container-before h1,
.container-after h1 {
  font-size: 64px;
}

.container-before,
.container-after {
  display: grid;
  border: 1px solid var(--A3);
  height: 200px;
  position: relative;
  border-radius: 12px;
  place-items: center;
  margin-bottom: 16px;
}

.container-after::after {
  content: "";
  position: absolute;
  top: 16%;
  left: 50%;
  background: #4492f8bf;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.container-before::before {
  content: "";
  position: absolute;
  top: 16%;
  left: 50%;
  background: #4492f8bf;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
