* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--A1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  padding: 24px;
  position: relative;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
a,
blockquote,
dd {
  margin: 0;
  padding: 0;
}

.voltar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  background: rgba(13, 17, 23, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(13, 17, 23, 0.3);
}

html {
  scroll-behavior: smooth;
}

img[src$=".webp"] {
  border-radius: 4px;
}

.max576 {
  max-width: 576px;
  margin: auto;
}

.max720 {
  max-width: 720px;
  margin: auto;
}

.max960 {
  max-width: 960px;
  margin: auto;
}

.max1200 {
  max-width: 1200px;
  margin: auto;
}

h1 {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: var(--A5);
}

h2 {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--A5);
}

h3 {
  padding-top: 16px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--A4);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--A5);
  padding-bottom: 6px;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--A5);
}

hr {
  border: none;
  border-top: 1px solid var(--A3);
  padding-bottom: 12px;
}

.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.container,
.container-home {
  margin: 16px auto;
  background-color: var(--A2);
  border-radius: 6px;
  border: 1px solid var(--A3);
  padding: 24px;
}

.code {
  position: relative;
  border: 1px solid var(--A3);
  padding: 4px;
  margin-top: 6px;
  margin-bottom: 6x;
  border-radius: 6px;
}

.code button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.code-wrapper {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  cursor: pointer;
}

.code-wrapper.expanded {
  max-height: 1000px;
}

pre {
  font-size: 16px;
}

.card {
  display: grid;
  border: 1px solid var(--A3);
  border-radius: 6px;
  padding: 0 12px 24px 12px;
}

@media (max-width: 1216px) {
  .container-home,
  .container {
    margin: 16px;
  }
  .shine {
    padding-left: 12px;
  }
}

@media (max-width: 1366px) {
  .shine {
    margin-top: 54px;
  }
}

@media (max-width: 720px) {
  .container-home {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .container-home {
    grid-template-columns: 1fr;
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--A2);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--A4);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--A5);
}
