.font14 {
  font-size: 14px;
  line-height: 20px;
  color: var(--A4);
}
.font16 {
  font-size: 16px;
  line-height: 24px;
  color: var(--A4);
}
.font18 {
  font-size: 18px;
  line-height: 27px;
  color: var(--A4);
}
.font24 {
  font-size: 24px;
  line-height: 36px;
  color: var(--A4);
}

/* Títulos */
.font36 {
  font-size: 36px;
  line-height: 44px;
  color: var(--A4);
}
.font48 {
  font-size: 48px;
  line-height: 56px;
  color: var(--A4);
}
.font52 {
  font-size: 52px;
  line-height: 60px;
  color: var(--A4);
}
.font64 {
  font-size: 64px;
  line-height: 72px;
  color: var(--A4);
}
.font72 {
  font-size: 72px;
  line-height: 80px;
  color: var(--A4);
}
.font84 {
  font-size: 84px;
  line-height: 92px;
  color: var(--A4);
}
.font96 {
  font-size: 96px;
  line-height: 104px;
  color: var(--A4);
}

.ajuste-fontes {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  gap: 20px;
}

.ajuste-fontes p {
  box-sizing: border-box;
  padding: 24px;
  border-radius: 14px;
  border: solid 1px var(--A3);
  background-color: var(--A3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins";
  font-weight: bold;
}

.ajuste-fontes p:hover {
  background: var(--A3);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  cursor: pointer;
}

.escala-espaco-organizado {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.escala-espaco {
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.escala-espaco h3{
  z-index: 1;
}

.espaco-2 {
  width: 2px;
  height: 200px;
}
.espaco-4 {
  width: 4px;
  height: 200px;
}
.espaco-8 {
  width: 8px;
  height: 200px;
}
.espaco-12 {
  width: 12px;
  height: 200px;
}
.espaco-16 {
  width: 16px;
  height: 200px;
}
.espaco-24 {
  width: 24px;
  height: 200px;
}
.espaco-32 {
  width: 32px;
  height: 200px;
}
.espaco-48 {
  width: 48px;
  height: 200px;
}
.espaco-56 {
  width: 56px;
  height: 200px;
}
.espaco-64 {
  width: 64px;
  height: 200px;
}
.espaco-96 {
  width: 96px;
  height: 200px;
}
.espaco-128 {
  width: 128px;
  height: 200px;
}
.espaco-160 {
  width: 160px;
  height: 100px;
}

.escala-espaco span {
  border-radius: 12px 12px 0 0;
  background: linear-gradient(
    0deg,
    rgba(13, 17, 23, 0.87) 10%,
    rgba(61, 68, 77, 1) 170%
  );
  height: 100px;
  transform-origin: bottom; /* cresce de baixo pra cima */
  transition: transform 0.5s ease-in-out;
  
}

.escala-espaco span:hover {
  transform: scaleY(1.8);
}
